[remotes]
plone = git://github.com/plone
plone_push = git@github.com:plone
imio = git://github.com/IMIO
imio_push = git@github.com:IMIO
collective = git://github.com/collective
collective_push = git@github.com:collective
zopefoundation = git://github.com/zopefoundation
zopefoundation_push = git@github.com:zopefoundation
github = git://github.com/
github_push = git@github.com:

[sources]
# from IMIO
renocopro.policy = git ${remotes:imio}/ideabox.policy.git pushurl=${remotes:imio_push}/renocopro.policy.git
renocopro.theme = git ${remotes:imio}/ideabox.policy.git pushurl=${remotes:imio_push}/renocopro.theme.git
