[remotes]
plone = git://github.com/plone
plone_push = git@github.com:plone
imio = git://github.com/IMIO
imio_push = git@github.com:IMIO
collective = git://github.com/collective
collective_push = git@github.com:collective
zopefoundation = git://github.com/zopefoundation
zopefoundation_push = git@github.com:zopefoundation
github = git://github.com/
github_push = git@github.com:

[sources]
# from IMIO
renocopro.policy = git ${remotes:imio}/renocopro.policy.git pushurl=${remotes:imio_push}/renocopro.policy.git
renocopro.theme = git ${remotes:imio}/renocopro.theme.git pushurl=${remotes:imio_push}/renocopro.theme.git
collective.documentation = git ${remotes:imio}/collective.documentation.git pushurl=${remotes:imio_push}/collective.documentation.git
collective.defaultexcludedfromnav = git https://github.com/affinitic/collective.defaultexcludedfromnav.git pushurl=https://github.com/affinitic/collective.defaultexcludedfromnav.git
